@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-circularStd: "Circular Std", sans-serif;
}

.btn-gradient-border {
  background: linear-gradient(to right, #11401c, #1f7332, #859b5b);
  padding: 2px;
}

.btn-gradient-border button,
.btn-gradient-border div {
  background: white;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.text-gradient-green {
  @apply bg-text-gradient-green text-transparent bg-clip-text inline-block;
}

.gradient-border {
  position: relative;
  border-radius: 50px;
  padding: 6px;
  background-clip: padding-box;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(to right, #e3e3e3 41%, #ffffff 43%);
  z-index: -1;
  border-radius: 50px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
